*.DS_Store*
people_team_data/data/dev/*
people_team_data/data/processed/*
people_team_data/data/raw/*
*.csv*
*.env*
*.log*
*.db*
*.venv*
people_team_data/history
people_team_data/logs
people_team_data/storage
people_team_data/schedules/schedules.db
people_team_data/.telemetry
people_team_data/.nux
people_team_data/.logs_queue
*__pycache__*
*people_team_data.egg-info
people_team_data/dlt/allfields.txt
people_team_data/dlt/.dlt/scratchpad.ipynb
people_team_data/dlt/.dlt/fields.json
*secrets.toml
.dlt/secrets.toml
